/* Hiding standard theme elements */
body {
  background: white !important;
  font-family: Arial, sans-serif !important;
}
#header,
footer {
  display: none;
}
.breadcrumb ol li a {
  color: black;
  border: none;
}
.breadcrumb ol li:last-child a {
  border-bottom: 1px dotted green;
}
#sidebar-first {
  display: none;
}
.main-content {
  width: 100% !important;
  margin-left: 0 !important;
}
#sidebar-first {
  display: none;
}
.main-content {
  width: 100% !important;
  margin-left: 0 !important;
}


/* Server header */
.serverInformation {
  display: flex;
}
.serverError {
  border-radius: 3px;
  padding: 20px;
  background: rgb(243,197,195);
}
.serverInfo {
  margin-right: 50px;
}


/* Metric tables*/
#metrics {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
#metrics div {
  padding-bottom: 3%;
  width: 30%;
}
#metrics table {
  border: 2px solid black;
}
#metrics th {
  border: 0;
}
#metrics td {
  border: 0;
}
#metrics tr {
  border: 0;
  border-bottom: 2px solid black;
}
#metrics thead th span:last-child {
  float: right;
}


/* Status classes */
.warning {
  color: black;
  background-color: rgb(242,228,189) !important;
}
.error {
  color: black;
  background-color: rgb(243,197,195) !important;
}
.success {
  color: black;
  background-color: rgb(199,220,199) !important;
}

/* Server list */
#serverList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
#serverList a {
  color: black !important;
  border: none;
}
.serverCard {
  background-color: rgb(199,220,199);
  border-radius: 2px;
  margin-top: 30px;
  padding: 30px;
  min-width: 300px;
}

.serverCard h1 {
  font-size: 24px;
  padding: 0;
  margin: 0 0 20px;
}
.serverCard p:last-child {
  padding: 0;
  margin: 0;
}
