<div class="{% if server.lastRefresh > 10 %} serverError {% endif %}" id="serverGeneral">
  <div class="serverInformation">
    <div class="serverInfo"><b>Hostname</b>: {{server.hostname}}</div>
    <div class="serverInfo"><b>Letzter Refresh</b>:
      {% if server.lastRefresh == -1 %}
        n/a
      {% else %}
        {{ server.lastRefresh }}min
      {% endif %}
    </div>
    <div class="serverInfo"><b>Status</b>: {{server.status}}</div>
  </div>
</div>
<div id="metrics">
  {% for metric in server.metrics %}
    <div class="metric">
      <table>
        <thead>
          <tr>
            <th colspan="2" class="{% if metric.statusCode == 1 %} warning {% elseif metric.statusCode == 0 %} success {% else %} error {% endif %}">
              <span>{{ metric.title }}</span>
              <span>{{ metric.lastRefresh }}min</span>
            </th>
          </tr>
        </thead>
        <tbody>
        {% for data in metric.data %}
          <tr>
            <td>{{ data.title }}</td>
            <td class="{% if data.statusCode == 1 %} warning {% elseif data.statusCode == 0 %} success {% else %} error {% endif %}">{{ data.metricValue }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}
</div>
