<div id="serverList">
  {% for server in servers %}
  <a href="/servers/{{ server.link }}">
    <div class="{% if server.lastRefresh > 10 or server.lastRefresh == -1 %} error {% elseif server.statusCode == 2 %} warning {% elseif server.statusCode == 0 %} success {% else %} error {% endif %} serverCard">
      <h1>{{ server.name }}</h1>
      <p><b>Hostname</b>: {{ server.hostname }}</p>
      <p><b>Letzter Refresh</b>:
        {% if server.lastRefresh == -1 %}
          n/a
        {% else %}
          {{ server.lastRefresh }}min
        {% endif %}
      </p>
    </div>
  </a>
  {% endfor %}
</div>
